{{#with contest}}
    <div id="contestSignUpBox">
        <form action="{{action}}" method="post">
            <input class="articleInput inputFont"/>
            <button id="csubBtn" type="submit">Enter the contest</button>
        </form>
    </div>
{{/with}}