<section id="contestPU" class="modal" style="display: none">
    <div class="font uppercase modal-content-con flex flex-flow-no-wr registerModalBG card-bg-con center">
            <span class="closeCon">&times;</span>
            <h2 class="center">sign up - stridezone contest</h2>
            <input class="articleInput font center" placeholder="YOUR EMAIL ADDRESS@EXAMPLE.COM" type="email"/>
        <button class="uppercase center margin-twenty-top registerBtn">Enter Contest</button>
    </div>

</section>
<button id="contestPUOpen" class="registerBtn">Click here to join contest</button>