<section class="flex layout-section center-text flex-flow-no-wr margin-twenty">
    <h1 class="center-text">Please login to edit the site.</h1>

    <form action="/login" method="post">
        <div class="flex flex-flow-no-wr margin-twenty">
            Username:
            <input type="text" name="username" value="">
            Password:
            <input type="password" name="password" value="">
            <div class="margin-twenty">
                <input class="btn margin-twenty" type="submit" value="login">
            </div>
        </div>
    </form>
</section>