<p>Welcome to Mailgun!</p>
<form id="mgform">
    <label for>email</label>
    <input type="text" id="mail" placeholder="Youremail@example.com">
    <button value="bulk" onclick=""mgform.hid="this.value">Send</button>
    <button value="list" onclick=""mgform.hid="this.value">Add to list</button>
    <button value="inv" onclick=""mgform.hid="this.value">Send invoice</button>
</form>