<h1>Please register to edit the site.</h1>

    <form action="/register" method="post">
        {{#if success}}
            <section id="valAlertSuccess" class="success pos-abs-center">
                <button id="closeValSuccess" class="closepu" type="button">[X]</button>
                <h2>Masterfully Done!</h2>
            </section>
        {{else}}
            {{#if errors}}
                <section id="valAlertError" class="errors pos-abs-center">
                    <button id="closeValAlertError" class="closepu" type="button">[X]</button>
                    <ul>
                        {{#each errors }}
                            <li>{{this.msg}}</li>
                        {{/each}}
                    </ul>
                </section>
            {{/if}}
        {{/if}}
        <div>
            <label>First name</label>
            <input class="articleInput inputFont"  type="text" name="name" value="" placeholder="First Name"/>

            <label class="center">Last name</label>
            <input class="articleInput inputFont" type="text" name="lastname" value="" placeholder="Last Name"/>
        </div>
        <div>
            <label class="center">Username</label>
            <input class="articleInput inputFont" type="text" name="username" value=""/>

            <label class="center">Password</label>
            <input  class="articleInput inputFont" type="password" name="password" value=""/>
        </div>
        <div class="flex flex-flow-no-wr">
            <label class="center">email</label>
            <input class="articleInput inputFont" type="email" name="emailAddress" value=""/>
        </div>
        <input class="btn margin-twenty" type="submit" value="register"/>
    </form>


