<h1 class="flex center margin-twenty">Please register to edit the site.</h1>

    <form action="/register" method="post">
        <div class="flex flex-flow-no-wr">
            <label class="center">First name</label>
            <input type="text" name="name" value="" placeholder="First Name here"/>

            <label class="center">Last name</label>
            <input type="text" name="lastname" value=""/>
        </div>
        <div class="flex flex-flow-no-wr">
            <label class="center">Username</label>
            <input type="text" name="username" value=""/>

            <label class="center">Password</label>
            <input type="password" name="password" value=""/>

            <input class="btn margin-twenty" type="submit" value="register"/>
        </div>
    </form>
</div>

