<div class="flex flex-flow-no-wr center">
    <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
    <form class="flex flex-flow-no-wr center" action="{{action}}" method="POST">
        <label for="deckName">Deck Name:</label>
        <input name="deckName" value="{{deckName}}" />
        <label>Add card to decklist</label>
        <input id="addDeckItemInput" />
        <label for ="deckList"></label>
        <textarea id="deckArray" name="deckList" value="{{deckList}}"></textarea>
        <button id="addDeckItem" type="button">Add Item</button>
        <button type="submit">Add Deck</button>
    </form>
    <div class="center">
        <form action="{{ deleteAction }}" method="POST">
            <button class="btn" type="submit">Delete Post</button>
        </form>
    </div>
</div>
<script>
    var items = [];
    var addItem = document.querySelector("#addDeckItem");
    var itemInput = document.querySelector("#addDeckItemInput");
    var deck = document.querySelector('#deckArray');

    addItem.addEventListener("click", addItemToDeck);

    function addItemToDeck(){
        if (itemInput >= addItem){
            function addingItem(){
                itemInput.push(items)
            }
        } else {
            console.log('else')
        }
        return itemInput
    }
</script>